.row{
    width: 100%;
    padding: 1rem 2rem;
}
.category{
    width: 100%;
    display: flex;
}
.category h1{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
}
.row .movie-slider{
    height: 13rem;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}
.movie-slider::-webkit-scrollbar{
    display: none;
}
.movie-slider > * {
    margin-right: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.movie-slider > * :hover {
    transform: scale(1.04);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    transition: all 0.4s;
}
 

.movie-slider .movie-card{
    min-width: 20rem;
    height: 12rem;
}

.movie-slider .small-movie-card{
    min-width: 16rem;
    height: 8rem;
}